<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vpay365.app">

    <application
        android:icon="@mipmap/ic_launcher_staging"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:replace="android:icon">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.vpay365.payments.staging.fileprovider"
            tools:replace="android:authorities"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

    </application>

</manifest>